body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.switcher{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.switcher-title{
    margin: 0 0 20px;
}

.switcher-input{
    display: none;
}

.switcher-input:checked + .switcher-label{
    color: #3FB40B;
}

.switcher-input:checked + .switcher-label:before{
    background-color: #3FB40B;
}


.switcher-input:checked + .switcher-label:after{
    transform: translateX(23px);
}

.switcher-label{
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: #ff8a74;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    transition: transform .5s linear;
    font-weight: bold;
}

.switcher-label:before{
    content: "";
    display: block;
    width: 45px;
    height: 22px;
    background-color: #ff8a74;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.switcher-label:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

}

.switcher-text{
    line-height: 25px;
}

